.button {
  margin: 10px 0;

  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.button__button {
  background: var(--message-background);
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 32px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;

  width: 90%;
}

.button__button:hover {
  opacity: 0.8;
}

.button::after {
  content: attr(data-id);
  pointer-events: none;
  border: 2px solid #fa0ee9;
  position: absolute;
  top: 0;
  right: 5%;
  box-sizing: border-box;
  background: #fa0ee9;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
}
