@import './variables.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: var(--message-background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  height: auto;
  width: auto;

  @media (--mobile-viewport) {
    height: 100%;
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
