.screen {
  width: var(--screen-width);
  height: var(--screen-height);
  background: var(--screen-background);
  display: flex;
  flex-direction: column;
  margin: 5px;
  position: relative;

  border-radius: 45px;
  overflow: hidden;
}

.screen_loading::after {
  content: 'awesome loader...';
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fffffff5;
  position: absolute;
}

.screen__loading-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
  width: 0%;
  opacity: 1;
  background-color: red;
  z-index: 999999;

  animation-duration: 15s;
  animation-name: slidein;
  animation-timing-function: ease-out;
}

@keyframes slidein {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.screen__loading {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #777;
  mix-blend-mode: hue;
}

.screen__header {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.screen__title {
  font-weight: 500;
  font-size: 18px;
}

.screen__content {
  background: var(--screen-content-background);
  flex-grow: 1;
  border-radius: 50px 50px 0 0;
  padding: 15px 15px 15px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.screen_theme_full .screen__header {
  height: 0;
}

.screen_theme_full .screen__content {
  border-radius: 0;
  align-items: center;
  justify-content: center;
}
