<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../app.css">
  <title>{{screenTitle}}</title>
</head>
<body>
  <div class="screen {{#if fullScreen}}screen_theme_full{{/if}}">
    <div class="screen__header">
      <div class="screen__title">
        {{screenTitle}}
      </div>
    </div>
    <div class="screen__content">
      {{{body}}}
    </div>
  </div>
  {{> "footer/footer"}}
  <script src="../layouts/base.js"></script>
</body>
</html>
