.input {
  padding: 15px 0 0 0;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.input__label {
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;

  order: 1;
}

.input__input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: var(--message-my-background);
  border: 0;
  margin-bottom: 5px;

  order: 2;
}

.input__error {
  color: rgba(241, 18, 18, 0.8);
  font-size: 12px;
  padding-left: 5px;
  height: 12px;

  order: 3;
}
