.screen {
  width: var(--screen-width);
  height: var(--screen-height);
  /* background: var(--screen-background); */
  display: flex;
  flex-direction: column;
  margin: 5px;
  position: relative;

  border-radius: 45px;
  overflow: hidden;

  border: 10px solid #fff5;

  box-sizing: border-box;
}

.screen__back {
  padding: 20px;
  background: #fff;
}

.screen__back a {
  text-decoration: none;
}

.screen__header {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.screen__title {
  font-weight: 500;
  font-size: 18px;
}

.screen__content {
  background: var(--screen-content-background);
  flex-grow: 1;
  border-radius: 50px 50px 0 0;
  /* padding: 15px 15px 15px 15px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.screen_theme_full .screen__header {
  height: 0;
}

.screen_theme_full .screen__content {
  border-radius: 0;
  align-items: center;
  justify-content: center;
}

.screen__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fffe;
  position: absolute;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f53c5b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
